.header {
    text-align: center;
    background-color: rgb(37, 37, 37);
    padding: 2rem;
}

.header__img {
    width: 25rem ;
    margin-bottom: 3rem;
}

.header__input {
    width: 15rem;
    border: 2px solid white;
    border-radius: 20px;
    padding: 5px 20px;
    font-size: 16px;
    background-color: transparent;
    color: white;
    margin-right: 1rem;
}

.header__input:focus {
    box-shadow: 0 0 6px black;
}

.pokedex-search-button {
    width: 8rem;
    padding: 5px 20px;
    border: 2px solid white;
    border-radius: 20px;
}

.pokedex-search-button:hover {
    background-color: transparent;
    color: white;
    transition: .5s ease;
}

@media screen and (max-width: 400px) {

    .header__img {
        width: 17rem;
    }

    .header__input {
        margin-right: 0;
        margin-bottom: 1rem;
    }
}