@import url(./header.css);

.container__pokemons {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    background-color: rgb(37, 37, 37);
}

.pokemonList {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    margin: 1rem;
}

.divImg {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 17rem;
    height: 15rem;
    overflow: hidden;
    background-image: url(../imgs/CenárioPokemon.jfif);
    background-position: center;
    width: 100%;
    background-repeat: no-repeat;
}

.pokemonImgPadrao {
    width: 12rem;
    max-width: 200px;
}

.tituloID {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card-title {
    text-transform: capitalize;
    font-size: 20px;
}

.numId {
    font-size: 17px;
}

.card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.page-item {
    border: none;
    background: transparent;
    padding: 0;
}

.button__pagination {
    display: flex;
    gap: 1rem;
    margin-top: 1rem;
}

.textoErroBusca {
    color: #fff;
    font-size: 20px;
}