@import url(./header.css);

.pokemonList {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    margin: 1rem;
}

.divImg {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 17rem;
    height: 15rem;
    overflow: hidden;
    background-image: url(../imgs/CenárioPokemon.jfif);
    background-position: center;
    width: 100%;
    background-repeat: no-repeat;
}

.pokemonImgPadrao {
    width: 12rem;
}

/* .pokemonImg {
    MUDAR TAMANHO PARA RESPONSIVIDADE
} */


.card-title {
    text-transform: capitalize;
}
